:root {
  --bg_from: #2c3e50;
  --bg_to: #4b79a1;
  --text: #e8eaf6;
  --border: #262b36;
  --brand: #5b9cff;
  --brand-2: #52d6a8;
  --cardbg: rgba(255, 255, 255, 0.05);
  --box_shadow: rgba(0, 0, 0, 0.2);
  --danger: #ff6b6b;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:
    linear-gradient(135deg, var(--bg_from), var(--bg_to));
  color: #fff;
}

.register-container {
  background: linear-gradient(0deg, var(--bg_from), var(--bg_to));
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  color: #bbb;
}

.error-message  {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--danger);
  font-weight: 600;
  font-style: italic;
}

input {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background: #3b3b5c;
  color: #fff;
}

.pass-rules {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-style: italic;
}

input:focus {
  outline: 2px solid #6c63ff;
}


button {
  width: 100%;
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  background: #6c63ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #5a53d6;
}

.signin-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signin-text a {
  color: #9d8fff;
  text-decoration: none;
}

@media (max-height: 500px) {


  .register-container {
    max-width: 100%;
    padding: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}