<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title%}My Restaurant{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block head %}{% endblock %}
</head>

<body>
  <header class="site-header">
    <h1 class="logo">My Restaurant</h1>
    <nav>
      <a href="{{ url_for('main.item_list', filename='item-list.html') }}">Home</a>
      <a href="{{ url_for('main.basket', filename='basket.html') }}">Basket</a>
      {% if is_admin() %}
        <a href="{{ url_for('main.admin') }}">Admin</a>
      {% elif is_user() %}
        <a href="{{ url_for('main.user_profile') }}">Profile</a>
      {% endif %}

      {% if session.get('user_id') %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      {% endif %}
    </nav>
  </header>
  {% block body %} {% endblock %}
  <main class="content">
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>