{% extends "base.html" %}

{% block title %}AI Chatbot{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
{% endblock %}

{% block content %}
<!--Ez még semmi-->
<section class="chatbot-container">
  <h2>AI Chatbot</h2>

  <div class="chat-window" id="chat-window">
    <!--Ez amit a bot vissza adat. Az alap első választ amit a promtból kap azt is írd ki-->
    <div class="message bot">Hello! How can I help you today?</div>
    <!--Ezt kell készíteni amikor a user egy üzenetet küld-->
    <div class="message user">Hi! I have a question about your services.</div>
    <!--Ez akkor legyen itt amikor a user küldött valamit de az ai még nem adott vissza választ.
     Amikor nem kell akkor töröld ki és helyezd vissza amikor kell. Vagy add hozzá a hidden class és biztosan előtte rakd a message-eket-->
    <div class="message bot typing">
      <span></span><span></span><span></span>
    </div>
  </div>

  <!--Vagy enter vagy button nyomásra küldi a botnak és csinál egy message user-t-->
  <form id="chat-form">
    <input type="text" id="user-input" placeholder="Type a message..." autocomplete="off" name="message"/>
    <button type="submit" id="send-btn">Send</button>
  </form>
</section>

<script src="{{ url_for('static', filename='script/chatbot.js') }}"></script>
{% endblock %}
