<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset your password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot.css') }}" />
</head>
<!--Ezt (ha jól csinálják) megoldja a html-->
<body>
  <div class="forgot-container">
    <form class="forgot-form" id="forgotForm">  
      <h2>Reset your password</h2>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required />
      </div>

      <div class="input-group">
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" name="new-password" required />
      </div>

      <div class="input-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" required />
      </div>

      <div class ="error-message" id="error-message">
        {% if error_message %}
          <p>{{ error_message }}</p>
        {% endif %} 
      </div>

      <button type="submit">Change password</button>

      <p class="signup-text">
        <a href="{{ url_for('main.login', filename='login.html') }}">Back to login</a>
      </p>
    </form>
  </div>
</body>

</html>