<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/item-list.css">
</head>
<body>
  <header class="site-header">
    <h1 class="logo">My Restaurant</h1>
    <nav>
      <a href="">Home</a>
      <a href="">Menu</a>
      <a href="">Contact</a>
    </nav>
  </header>
  <main class="content">
  <div class="item-list">
    <div class="item-card">
      <img src="../static/images/food.jpg" alt="Creamy Pasta">
      <div class="info">
        <h2>Creamy Pasta</h2>
        <p class="price">$12.99</p>
      </div>
      <button class="add-btn">🧺</button>
    </div>

    <div class="item-card">
      <img src="../static/images/food.jpg" alt="Cheeseburger">
      <div class="info">
        <h2>Cheeseburger</h2>
        <p class="price">$9.50</p>
      </div>
    </div>

    <div class="item-card">
      <img src="../static/images/food.jpg" alt="Fresh Salad">
      <div class="info">
        <h2>Fresh Salad</h2>
        <p class="price">$7.20</p>
      </div>
    </div>
  </div>
</main>
  <script src=""></script>
</body>
</html>
