<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>
<!--Ezt (ha jól csinálják) megoldja a html-->

<body>
  <div class="login-container">
    <form class="login-form" id="loginForm" method="POST" action="{{ url_for('auth_bp.login_route') }}">
      <h2>Welcome</h2>
      <div class="input-group">
        <label for="identifier">Email or Username</label>
        <input type="text" id="identifier" name="identifier" required />
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <div class="error-message" id="error-message">
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
      </div>

      <button type="submit">Log In</button>

      <p class="signup-text">
        Don’t have an account?
        <a href="{{ url_for('main.register', filename='register.html') }}">Sign up</a>
      </p>
      <div class="forgot-link">
        <a href="{{ url_for('main.forgot', filename='forgot.html') }}">
          Forgot your password?
        </a>
      </div>
    </form>
  </div>
</body>

</html>