<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
</head>
<!--Ezt is meg kéne oldania a html-nek-->
<body>
  <div class="register-container">
    <form class="register-form" id="registerForm" method="POST" action="{{ url_for('auth_bp.register_route') }}">
      <h2>Create an account</h2>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required />
      </div>

      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="name" name="name" required />
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <div class="input-group">
        <label for="phone">Phone number (optional)</label>
        <input type="tel" id="phone" name="phone"
          pattern="^\+?[0-9\s\-]{7,15}$"
          placeholder="e.g. +1 555-123-4567">
      </div>

      <div class="input-group">
        <label for="adress">Adress</label>
        <input type="text" id="adress" name="adress" required />
      </div>

      <div class ="error-message" id="error-message">
        {% if error_message %}
          <p>{{ error_message }}</p>
        {% endif %} 
      </div>

      <button type="submit">Sign up</button>

      <p class="signin-text">
        Already have an account?
        <a href="{{ url_for('main.login', filename='login.html') }}">Log in</a>
      </p>
    </form>
  </div>
</body>

</html>